.row
  margin: 0 auto
  width: 960px
  display: block
@media only screen and (min-width:1200px)
  .row
    width: 1200px
@media only screen and (min-width: 768px) and (max-width: 959px)
  .row
width: 768px
@media only screen and (min-width: 480px) and (max-width: 767px)
  .row
width: 456px
@media only screen and (max-width: 480px)
  .row
width: 300px

[class^="column_"], [class*=" column_"]
  margin: 0 16px 0 16px
  float: left
  display: inline
.column_1
  width: 48px
.column_2
  width: 128px
.column_3
  width: 208px
.column_4
  width: 288px
.column_5
  width: 368px
.column_6
  width: 448px
.column_7
  width: 528px
.column_8
  width: 608px
.column_9
  width: 688px
.column_10
  width: 768px
.column_11
  width: 848px
.column_12
  width: 928px
.offset_1
  margin-left: 96px
.offset_2
  margin-left: 176px
.offset_3
  margin-left: 256px
.offset_4
  margin-left: 336px
.offset_5
  margin-left: 416px
.offset_6
  margin-left: 496px
.offset_7
  margin-left: 576px
.offset_8
  margin-left: 656px
.offset_9
  margin-left: 736px
.offset_10
  margin-left: 816px
.offset_11
  margin-left: 896px