body { font: 14px 'proxima_novaregular'; }
a { text-decoration: none; color: rgb(52, 72, 109); }

li { list-style-type: none; }

.half-width {width:50%;}
.h-left { float:left; }
.h-right { float:right; }
.h-vspaceL { margin-bottom: 20px; }

.cf:before, .cf:after{  
	content: " ";
	display: table;
}
.cf:after { 
	clear: both;
}
.full-width{
	width: 960px;
	margin: 0 auto;
}

.align-center{
	text-align: center;
}
.shadow{
	text-shadow: 3px 3px rgba(0,0,0,0.4);
}
.fixed{
	position: fixed;
	top:0;
	width: 100%;
	z-index: 2;
	background: rgb(255,255,255,0);
	background: rgba(255,255,255,.8);
}

.lst-inline > li { display: inline-block; margin-left:-4px; }
	.lst-inline > li:first-child { margin-left: 0; }
	.lst-top > li { vertical-align: top; }
	.lst-middle > li { vertical-align: middle; }
	.lst-middle > li { vertical-align: bottom; }
.li-inline>li{
	display: inline-block;
	margin-left: -4px;
}


.inline{
	display: inline-block;
}

.middle{
	vertical-align: middle;
}

.top{
	vertical-align: top;
}

.blue{
	background-color: rgba(52,72,110,1);
	height: 200px;
	padding-top: 50px;
}
.gray{
	text-align: center;
}
.ranking>li{
	margin: 20px 0;
	width: 300px;
}
.ranking>li>img, .ranking>li>div{
	display: inline-block;
	vertical-align: middle;
}

/*  ----  HEADER  ----  */
.form-margin{margin-top:20px;}

.header { position: fixed; width: 100%; top: 0; z-index:1; 
	background: rgb(255, 255, 255);

	background: rgba(255, 255, 255, .9);
	border-bottom: 1px solid rgba(0, 0, 0, .2);
}
	.hdr-container { width: 980px; margin:12px auto; }
	.hdr-brand { 
		display: inline-block;
		vertical-align: bottom;
		margin-right: 60px;
		background-position: -69px -17px; 
		text-indent: -9000px;
	}
		.hdr-brand a { width: 163px; height: 47px; display: block; }


	.hdr-nav { display: inline-block; vertical-align: bottom; }
		.hdr-nav li { border-left: 1px solid rgba(0, 0, 0, .3); padding: 5px 10px; font-size: 16px; }
		.hdr-nav li:first-child { border: 0; }

.container-info { width: 980px; margin: 0px auto 20px auto; }
.container-twitter { width: 980px; margin: 0px auto 20px auto; }
.ftr-inner { width: 980px; margin: 0px auto; }
.col-1 { width: 636px; }
.col-2 { width: 320px; }

/* ---- CAROUSEL  ---- */

.carousel { 
	background: #ff5500; 
	margin-top: 70px;
	margin-bottom: 40px;
	position: relative;
	color:#fff;
	font-size: 20px;
}

	.crs-container img { width: 100%; display: block; }
	.crs-txt { width: 340px; position: absolute; top: 30%; left: 35%; }
	.crs-txt-description { font-size: 18px; margin-bottom: 28px; }
	.crs-txt-header { font: 40px 'proxima_novabold'; text-shadow: 1px 1px 0px rgba(0, 0, 0, .7); }
		.crs-txt-header span { font-family: 'proxima_novaregular'}
	.crst-lst-actions li { width: 48%;  }

/*.button { font: 16px 'proxima_novabold'; text-shadow: 1px 1px 0px rgba(0, 0, 0, .7); text-align: center; }

	.button a { 
		color: rgb(255, 255, 255);
		padding: 16px;
		border-radius: 4px;
		display:block;
	}
	.btn-see { 
		background: rgb(217, 109, 0);
		transition: background 0.5s ease;
	}
		.btn-see:hover { background: rgb(123, 62, 2) }

	.btn-add { 
		background: rgb(53, 72, 107);
		transition: background 0.5s ease;
	 }
	 	.btn-add:hover { 
	 		background: rgb(26, 36, 54);
	 	}*/
.btn{ 
	font-size: 16px; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    text-align: center;
    display: block;
    width: 180px;
}


	.btn a{
		color: rgba(255,255,255,1);
		padding: 16px;
		border-radius: 4px;
		display: block;

	}


	.btn-see{ 
		margin-right: 20px;
		background: rgba(255,122,0,1); 
		transition: background 0.5s ease;
	}
		.btn-see span{
			background-position: -69px -17px; 
		}
		/*.btn-see:hover { background: rgb(123, 62, 2) }*/

	.btn-add{ 
		margin-left: 20px;
		background: rgba(52,72,110,1);
		transition: background 0.5s ease;
	 }
	 	.btn-add:hover { 
	 		background: rgb(26, 36, 54);
	 	}


.nav-points { text-indent: -9000px;}
.nav-points a { display: block; width: 15px; height: 15px; background: rgb(255, 255, 255);} 


.nav-points { position: absolute; bottom: 20px; text-align: center; width: 100%; z-index: 1 }
    .nav-points  a {  
                background-color: white;
        border-radius: 50%;
        height: 15px;
        width: 15px;
        display: block;
        margin: 0 5px; 
    }

    .nav-points a:hover { background-color: #34486e; }

.nav-prev { position: absolute; left:0; width: 52px; top: 0; bottom: 0;  }
.nav-next { position: absolute; right:0; width: 52px; top: 0; bottom: 0; }
	.nav { text-indent: -9000px; }
	.nav a { 
		width: 100%;
		height: 100%;
		opacity: 0;
		display: block;
		transition: opacity 0.5s ease;
	}
	.nav a:hover { opacity: 1; }
	.nav-prev a { background-position: -542px 187px;}
	.nav-next a { background-position: -363px 187px;}    

.flecha{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10%;
}

.f-der{
	right: 0;
}

.f-der a{
	width: 100%;
	height: 100%;
	display: block;
	background-position: -305px 155px;	
	opacity: 0;
	transition: opacity 0.5s ease;
}

.f-der a:hover{
	opacity: 1;
}


.f-izq{
	left: 0;
	
}
.f-izq a{
	width: 100%;
	height: 100%;
	display: block;
	background-position: -535px 155px;
	opacity: 0;
	transition: opacity 0.5s ease;
}

.f-izq a:hover{
	opacity: 1;
}	

/* -----  NEWS ------*/

.lst-photos > li { margin-left: 10px; }
.top-news-header { font-family: 'proxima_novabold'; font-size: 18px; margin-bottom: 5px;}
.top-news-image { width: 50%; float: left; }
.top-news-content { width: 50%; float: right; padding: 0px 10px; font-size: 14px;}
	.top-news-content p{margin-top: 10px}

.top-news-aside{ margin-top: 20px}	

.header { position: fixed; width: 100%; top: 0; z-index:1; 
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, .9);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.head-title { 
	border-bottom: 1px solid rgb(221, 221, 221);
	padding-bottom: 9px;
	margin-bottom:12px;
	position: relative;
}
	.head-title span { position: absolute; right: 0; top:6px; font-size:12px; }
	.hdtitle { font: 20px 'proxima_novabold'; margin-right: 60px; }

.hdr-container { width: 980px; margin:12px auto; }
	.hdr-brand { 
		display: inline-block;
		vertical-align: bottom;
		margin-right: 60px;
		background-position: -69px -17px; 
		text-indent: -9000px;
	}
		.hdr-brand a { width: 163px; height: 47px; display: block; }

.hdr-cntr{
		display: inline-block;
        vertical-align: bottom;
        margin-right: 60px;
        background-position: -69px -17px; 
        text-indent: -9000px;

}
.hdr-cntr a { width: 163px; height: 47px; display: block; }

.hdr-nav { display: inline-block; vertical-align: bottom; }
        .hdr-nav li { border-left: 1px solid rgba(0, 0, 0, .3); padding: 5px 10px; font-size: 16px; }
        .hdr-nav li:first-child { border: 0; }

.box-office-table { width: 100%; margin-bottom: 30px;border-top: 1px solid rgb(221,221,221);}
	.box-office-table td { padding: 10px 0px;  }
	.box-office-table td:first-child{ width: 100%; }
	.box-office-table tr { border-bottom: 1px solid rgb(221, 221, 221); }
	.box-office-table tr:last-child { border: none; }
	.box-office-table tr:first-child { font-family: 'proxima_novabold'; }

.coming-soon { margin-bottom: 25px;}
	
.comming-soon-header li {
	padding: 10px;
	border: 1px solid rgb(221,221,221);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.coming-soon-header a:hover { font-family: 'proxima_novabold'; padding-top: 13px; }

.coming-soon-header li:first-child {  border-bottom: none; }


.imagen img { border-radius: 4px;  box-shadow: inset 0px 4px 0px rgba(0, 0, 0, .6); display: block;}


			.imagen:after {
				content:"";
				position: absolute;
				left:0;
				top:0;
				right:0;
				bottom: 0;
				border-radius:4px;
				box-shadow:inset 1px 1px 10px rgba(0, 0, 0, .6);
			}

/* TWITTER */
.img{}
	.img-news{}	
	.img-twitter{}
		.img-twitter img{border-radius: 50%}
		.img-twitter span{
	        background-color: white;
	        width: 184px;
	        height: 15px;
	        display: block;
	        border-radius: 5px;
	        text-align: left;
	        margin: 4px 0;
	    }
	    .img-twitter-full span>span{
	    	background-color: rgb(49, 191, 254);
	        width: 80%;
	        height: 15px;
	        display: block;
	        border-radius: 5px;}
	    .img-twitter-empty span>span{
	    	background-color: rgb(49, 191, 254);
	        width: 20%;
	        height: 15px;
	        display: block;
	        border-radius: 5px;}

/* SOCIAL */
.sd-shr{ padding: 20px 20px; background: rgb(242, 242, 242); border-radius: 5px;}

	.sd-shr-hd{ font-size: 16px; margin-bottom: 10px}	
		.sd-shr-hd span{ font-family: 'proxima_novabold'; }

	.sd-shr-cntr{ color: rgba(0,0,0,1); margin-right: 10px }	

.logo-facebook { width: 30px; height: 30px; background-position: -80px -165px;}
.logo-twitter { width: 30px; height: 30px; background-position: -22px -165px;}
.logo-google { width: 30px; height: 30px; background-position: -140px -165px; }


/* FOOTER */
.footer-inner { 
        width: 100%;
        margin: 0px auto;
        height: 200px;
        background: rgb(52, 72, 110);
        padding-top: 50px;

}

	.ftr-brand { 
		display: inline-block;
		vertical-align: bottom;
		margin-right: 60px;
		background-position: -69px -17px; 
		margin-right: 2px;

	}

.footer-inner li { padding: 0 5px; border-left: 1px solid rgb(255, 255, 255);}

.footer-inner a {
        color: rgb(255, 255, 255);
}

.footer-inner a:hover {
        text-decoration: underline;
}

/*  TOOLTIP  */
.tooltip{width: 200px; height: 50px; background: rgba(0,0,0,0.9); border-radius: 4px; color: rgba(255,255,255,1); position: absolute; display: none; padding: 12px; z-index: 2}
	.tooltip:before{
		content:"";
		border: 8px solid transparent;
		width: 0;
		height: 0;
		position: absolute;
	}

	.tooltip-inner{position: relative;}
		.tooltip-inner:hover .tooltip{
			display:block;
		}

	.tlt-balign{left:10%; bottom: -40px;}
		.tlt-balign:before{ border-bottom: 8px solid rgba(0,0,0,0.9); top:-16px; left:50%; }	
	.tlt-talign{ left:10%; top: -40px;}
		.tlt-talign:before{ border-top: 8px solid rgba(0,0,0,0.9); bottom:-16px; left:50%; }


/*   GRID   */
.image-sprite{
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;}